/* Colors */

$background: #F4F4F2;
$background-text: #291E0F;
$surface: #ffffff;
$surface-text: #414141;
$primary: #FF6633;
$primary-text: #ffffff;
$secondary: #70C05B;
$secondary-text: #ffffff;
$lightest: #F3F2F1;
$light: #BFBFBF;
$hard: #8F8F8F;
$hasrdest: #606060;
$success: #008C49;
$info: #1CB9FC;
$warning: #FCA21C;
$error: #D80000
  /* Fonts */

  $text-xs: 8px;
  $text-s: 12px;
  $text-m: 14px;
  $text-l: 20px;
  $text-xl: 32px;

  $text-xs-desktop: 12px;
  $text-s-desktop: 14px;
  $text-m-desktop: 14px;
  $text-l-desktop: 24px;
  $text-xl-desktop: 36px;

  $header-xs: 16px;
  $header-s: 20px;
  $header-m: 24px;
  $header-l: 36px;
  $header-xl: 48px;

  $header-xs-desktop: 18px;
  $header-s-desktop: 24px;
  $header-m-desktop: 36px;
  $header-l-desktop: 48px;
  $header-xl-desktop: 64px;

  $family: "Rubik", "Aria", sans-serif;
  $regular: 400;
  $bold: 700;


  /* container */
  $mobile: 320px;
  $mobile-end: 767.98px;
  $tablet: 768px;
  $desktop: 1440px;
  $line-height: 1.5;
