/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: $mobile;
  height: 100%;
  background-color: $background-page;
}

/* Links */


a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer;
}


/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}


ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  vertical-align: middle;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 12px;

  @media (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 16px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 36px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
