.top-banner {
  position: relative;

  &::after {
    content: "";
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $surface;
    background-image: url("../../img/pattern-banner-mobile.webp");
    background-repeat: repeat-x;
    background-size: 104px 80px;
    height: 80px;
    // mix-blend-mode: multiply;
    // opacity: 0.3;
    // filter: drop-shadow(5px 11px 16px rgba(0, 0, 0, 0.2));

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/pattern-banner-mobile@2x.webp");
    }


    @media (min-width: $tablet) {
      background-image: url("../../img/pattern-banner-tablet.webp");
      background-size: 164px 164px;
      height: 164px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/pattern-banner-tablet@2x.webp");
      }
    }

    @media (min-width: $desktop) {
      background-image: url("../../img/pattern-banner.webp");
      background-size: 252px 200px;
      height: 206px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/pattern-banner@2x.webp");
      }
    }
  }
}

.top-banner__wrapper {
  position: relative;
  z-index: 1;
}

.top-banner__picture {
  display: none;

  @media (min-width: $tablet) {
    display: inline-block;
    margin-top: 27px;
    margin-left: 76px;
  }

  @media (min-width: $desktop) {
    margin-top: 5px;
    margin-left: 65px;

  }
}

.top-banner__slogan {
  @include font($bold, $header-xs-desktop);
  margin: auto;
  vertical-align: middle;

  @media (min-width: $tablet) {
    @include font($bold, $header-s-desktop);
    margin-left: -10px;
  }

  @media (min-width: $desktop) {
    @include font($bold, $header-l-desktop);
    margin-left: -3px;
  }
}
